<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129877128933-qjpom7nv9748e4o21dpet451tkj0q5pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129877128933-qjpom7nv9748e4o21dpet451tkj0q5pk</string>
	<key>API_KEY</key>
	<string>AIzaSyCpk4sWSgIIRGwxZLlgltNVgZg3Djbkes4</string>
	<key>GCM_SENDER_ID</key>
	<string>129877128933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.obon.obonstore</string>
	<key>PROJECT_ID</key>
	<string>obonstore-5b8cf</string>
	<key>STORAGE_BUCKET</key>
	<string>obonstore-5b8cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129877128933:ios:b9b41676973220f0cf060c</string>
</dict>
</plist>